*{
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: #F8F8F8;
}

/* Sidebar container styling */
.sidebar{
    background-color: rgb(189, 93, 56);
    position: fixed;
    width: 250px;
    height: 100vh;
    padding: 20px 0;
}

/* Image in side bar */
.img_sb{
    display: block;
    width: 200px;
    height: 150px;
    border-radius: 50%;
    margin: 50px auto 10px;
}

/* the name below sidebar pic */
h3{
    color: #F8F8F8;
    text-align: center;
    margin: 10px auto 5px;
    font-size: 24px;
}

/* the title below the name at sidebar */
.sidebar p{
    color: #F8F8F8;
    text-align: center;
    font-size: 16px;
}

/* The lists of bio, pitch and elevator */
.sidebar ul li{
    display: flex;
    align-items: center;
}

/* the anchor tag that links the bio, pitch and elevator */
.sidebar ul li a{
    margin: 10px auto 0;
    padding: 13px 30px;
    border-bottom: 1px solid #10558d;
    color: #F8F8F8;
    font-size: 22px;
    position: relative;
}

/* sidebar anchor tags hovering */
.sidebar ul li a:hover , .sidebar ul li a:active{
    color: black;
    background-color: #F8F8F8;
}


/* Bio page styling */
.page{
    width: calc(100% -250px);
    height: 100vh;
    margin-left: 250px;
    display: inline-block;
    padding: 3rem 1rem;
    max-width: 75rem;
    background-color: #F8F8F8;
}

/* Bio h3 tag */
#bio_name{
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 50px;
    margin: 0 auto;
    text-transform: uppercase;
    font-size: calc(1rem + 2.5vw);
    letter-spacing: 0.1em;
}

/* Bio h3 span element */
.brick{
    text-transform: uppercase;
    font-size: calc(1rem + 2.5vw);
    color: rgb(189, 93, 56);
    letter-spacing: 0.1em;
}

.type-out{
    font-size: 1.6rem;
    width: 100%;
    margin: 0 auto;
    padding: 30px;
}


/* Bio paragraph */
.mybio{
    font-family: 'Raleway';
    font-size: calc(0.7rem + 1.5vw);
    color: black;
    text-align: justify;
}

/* The pitch page */
.pitch{
    width: calc(100% -250px);
    height: 100vh;
    margin-left: 250px;
    max-width: 75rem;
    background-color: #F8F8F8;
}
.text{
    width: 100%;
    margin: 0 auto;
    background-color: #F8F8F8;
    padding: 50px;
}

.flt_lft{
    float: left;
    margin-right: 15px;
}

.text p{
    font-family: 'Raleway';
    font-size: 24px;
    color: black;
    background-color: #F8F8F8;
    text-align: justify;
  }

.head {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 40px;
    letter-spacing: 0.1em;
    margin: 0 0 20px;
    padding: 50px;
    text-align: center;
    text-transform: uppercase;
    background-color: #F8F8F8;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  }
  .elev{
    color: #10558d;
  }

  .port{
    color: #097264;
  }

/* portfolio */
.portfolio{
    background-color: #F8F8F8;
    margin: 0 auto;
    width: calc(100% -250px);
    height: 100vh;
    margin-left: 250px;
    max-width: 75rem;
}

.port_grid{
    width: fit-content;
    height: auto;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.flex{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: auto;
    height: auto;
    /* gap: 20px; */
    flex-wrap: wrap;
    align-items: center;
}

.grid{
    margin: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: none;
    text-align: center;
}
.image{
    width: 450px;
    height: 265px;
}
.graph_p, btn_a{
    width: 400px;
    height: auto;
}

.graph_p{
    text-align: justify;
    font-family: 'Raleway';
}

.img_sld{
    border: 1px solid #097264;
    width: 150px;
    height: 50px;
    margin-top: 40px;
    border-radius: 10px;
    text-align: center;
    background-color: #097264;
    color: #ffffff;
    padding: 15px 10px;
}

.contact{
    display: flex;
    justify-content: space-evenly;
    align-items: last baseline;
    margin-top: 50px;
}

.contact a{
    text-decoration: none;
    color: #097264;
}

/* On screens that are less than 700px wide, make the sidebars topbars */

@media only screen and (max-width: 1000px){

    .sidebar{
            background: #10558d;
            height: 250px;
            position: relative;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        /* put the sidebar pic, h3 and p in the same div and set display to block */

        .intro{
            display: block;
            padding-left: 10px;
        }

        .img_sb{
            margin: 0 auto;
        }

        .sidebar ul{
            display: flex;
        }
        .sidebar ul li{
            display: flex;
            justify-content: space-between;
            /* gap: 100px; */
            margin-left: 30px;
        }

        .sidebar ul li a{
            margin: 10px auto 0;
            padding: 5px 10px;
            border-bottom: 1px solid #10558d;
            color: #F8F8F8;
            font-size: 18px;
            position: relative;
        }

        /* .navbar ul li a{
            color: #184253;
        }
        .navbar ul li a:hover{
            background: #dee4ec;
            color: black;
            padding: 10px;
        } */
    }

    iframe, .image{
        width: 250px;
        height: 220px;
    }

    .type-out{
        padding: auto;
    }

    #bio_name, .brick{
        gap: 10px;
        letter-spacing: normal;
        font-size: calc(1rem + 2.2vw);
    }

    .text, .head{
        padding: auto;
    }
    .head{
        letter-spacing: normal;
    }

    .sidebar{
        width: 100vw;
    }

}

@media only screen and (max-width: 700px){
    .sidebar{ 
    width: 100vw;
    height: 250px;
    position: relative;
    display: flex;
    }
    .container{
        margin: 0 auto;
    }
    /* .sidebar a {float: left;} */
    /* .page{margin-left: 0;}
    .type-out{padding: 20px;} */

    .page{
        width: 100vw;
        margin: 0 auto;
        display: block;
        padding: auto;
    }

    .pitch{
        width: 100vw;
        margin: 0 auto;
        padding: auto;
        overflow: auto;
    }

    .portfolio{
        width: 100vw;
        margin: 0 auto;
        padding: auto;
        overflow: auto;
    }

    #bio_name{
        text-align: center;
        display: block;
        gap: 20px;
        font-size: calc(1rem + 2.5vw);
    }
}

/* On screens that are less than 400px */
@media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
    .type-out{padding: auto;}
  }
   