*{
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: #F8F8F8;
}

/* Sidebar container styling */
.sidebar{
    background-color: rgb(189, 93, 56);
    position: fixed;
    width: 250px;
    height: 100%;
    padding: 20px 0;
}

/* Image in side bar */
.img_sb{
    display: block;
    width: 200px;
    height: 150px;
    border-radius: 50%;
    margin: 50px auto 10px;
}

/* the name below sidebar pic */
h3{
    color: #F8F8F8;
    text-align: center;
    margin: 10px auto 5px;
    font-size: 24px;
}

/* the title below the name at sidebar */
.sidebar p{
    color: #F8F8F8;
    text-align: center;
    font-size: 16px;
}

/* The lists of bio, pitch and elevator */
.sidebar ul li{
    display: flex;
    align-items: center;
}

/* the anchor tag that links the bio, pitch and elevator */
.sidebar ul li a{
    margin: 10px auto 0;
    padding: 13px 30px;
    border-bottom: 1px solid #10558d;
    color: #F8F8F8;
    font-size: 22px;
    position: relative;
}

/* sidebar anchor tags hovering */
.sidebar ul li a:hover , .sidebar ul li a:active{
    color: black;
    background-color: #F8F8F8;
}


/* Bio page styling */
.page{
    width: calc(100% -250px);
    height: 100vh;
    margin-left: 250px;
    display: inline-block;
    padding: 3rem 1rem;
    max-width: 75rem;
    background-color: #F8F8F8;
}

/* Bio h3 tag */
#bio_name{
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 50px;
    margin: 0 auto;
    text-transform: uppercase;
    font-size: calc(1rem + 2.5vw);
    letter-spacing: 0.1em;
}

/* Bio h3 span element */
.brick{
    text-transform: uppercase;
    font-size: calc(1rem + 2.5vw);
    color: rgb(189, 93, 56);
    letter-spacing: 0.1em;
}

.type-out{
    font-size: 1.6rem;
    width: 100%;
    margin: 0 auto;
    padding: 50px;
}


/* Bio paragraph */
.mybio{
    font-family: 'Raleway';
    font-size: calc(0.7rem + 1.5vw);
    color: black;
    text-align: justify;
}

/* The pitch page */
.pitch{
    width: calc(100% -250px);
    height: 100vh;
    margin-left: 250px;
    max-width: 75rem;
    background-color: #F8F8F8;
}
.text{
    width: 100%;
    margin: 0 auto;
    background-color: #F8F8F8;
    padding: 50px;
}

.flt_lft{
    float: left;
    margin-right: 15px;
}

.text p{
    font-family: 'Raleway';
    font-size: 24px;
    color: black;
    background-color: #F8F8F8;
    text-align: justify;
    margin-bottom: 10px;

  }

.head {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 40px;
    letter-spacing: 0.1em;
    margin: 0 0 20px;
    padding: 50px;
    text-align: center;
    text-transform: uppercase;
    background-color: #F8F8F8;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  }
  .elev{
    color: #10558d;
  }

  .port{
    color: #097264;
  }

/* portfolio */
.portfolio{
    background-color: #F8F8F8;
    margin: 0 auto;
    width: calc(100% -250px);
    height: 100vh;
    margin-left: 250px;
    max-width: 75rem;
}

.port_grid{
    width: fit-content;
    height: auto;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.flex{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: auto;
    height: auto;
    gap: 20px;
    flex-wrap: wrap;
    align-items: center;
}

.grid{
    margin: 0 auto;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: none;
    text-align: center;
}
.image{
    width: 450px;
    height: 265px;
}
.graph_p, btn_a{
    width: 400px;
    height: auto;
}

.graph_p{
    text-align: justify;
}

.img_sld{
    border: 1px solid #097264;
    width: 150px;
    height: 50px;
    border-radius: 10px;
    text-align: center;
    background-color: #097264;
    color: #ffffff;
    padding: 15px 10px;
}

/* On screens that are less than 700px wide, make the sidebars topbars */
@media only screen and (max-width: 700px){
    .sidebar{ 
    width: 100vw;
    height: auto;
    position: relative;
    display: block;
    }
    .sidebar a {float: left;}
    /* .page{margin-left: 0;}
    .type-out{padding: 20px;} */

    .page{
        width: 100vw;
        height: auto;
        margin: 0 auto;
        display: block;
        padding: 20px;
        background-image: url('https://codetheweb.blog/assets/img/posts/css-advanced-background-images/mountains.jpg');
    }

    .pitch{
        width: 100vw;
        height: auto;
        margin: 0 auto;
        background-image: url("Portfolio/snow.jpg");
    }

    .portfolio{
        background-color: rgb(204, 240, 204);
        margin: 0 auto;
        width: 100%;
        height: auto;
        margin: 0 auto;
    }

    #bio_name{
        text-align: center;
        display: block;
        gap: 20px;
        margin: 0 auto;
        text-transform: uppercase;
        font-size: calc(1rem + 4.5vw);
    }
}

/* On screens that are less than 400px */
@media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
    .type-out{padding: 10px;}
  }
   